<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instant Expression Detection</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
    <video autoplay muted crossOrigin="anonymous" class="local-video" id="local-video"></video>
    <img id="bg" src=""  alt="No Feed Yet"/>
    <button onclick="loadCam()">Load Camera</button>

    <script src="/static/js/app.js"></script>
</body>
</html>